*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #111111;
  --clr-dark: #00204a;
  --clr-accent: #005792;
  --clr-accent2: #feffff;
  --clr-light2: #e7dfd5;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1em;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

.intro__image {
  box-shadow: var(--bs);
}
.section__subtitle--intro {
  display: inline-block;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.25rem;
  }
}

/*General Styles*/
html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.2em;
}

.container {
  background-color: var(--clr-accent);
}

section {
  padding: 3em 1em 0 0;
}

img {
  display: block;
  max-width: 100%;
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* Button */

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-light2);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
  margin-right: 1em;
}

.btn:hover {
  transform: scale(1.1);
}

.demo_btn {
  margin-bottom: 1em;
}

/*Typography*/

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about,
.section__subtitle--work {
  background: var(--clr-accent);
  padding: 0.25em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  color: var(--clr-light2);
}

/* Header */
header {
  padding: 10px 0px;
  transition: all 300ms ease-in;
}

header .header_logo {
  flex-grow: 1;
}

header .header_logo_lee {
  font-size: 20px;
  font-family: var(--ff-secondary);
}

/* Intro section */
.intro {
  position: relative;
  background-color: var(--clr-light);
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 50px auto;
    grid-column-gap: 1em;
    grid-template-areas:
      'img title'
      'img subtitle';
    grid-template-columns: min-content max-content;
  }

  .intro__image {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1/1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }

  .section__subtitle--work {
    align-self: start;
    margin: auto;
    width: 50%;
  }
}

.about-me-section {
  background-color: var(--clr-light);
  color: var(--clr-dark);
}

/* .wrapper {
  width: 50%;
  height: 50%;
  background-color: var(--clr-light2);
} */

@media (min-width: 800px) {
  .about-me {
    max-width: 1000px;
    margin: 0 auto;
  }

  .about-me__img {
    box-shadow: var(--bs);
    position: absolute;
    top: 10%;
  }

  .portfolio {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em; */
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 600px) {
  .about-me {
    display: flex;
    /* grid-template-columns: 1fr 300px;
    grid-template-areas:
      'title img'
      'subtitle img'
      'text img';
    grid-column-gap: 2em; */
    flex-wrap: wrap;
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

/* My Work */

.my-work {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.section__subtitle--work {
  margin-bottom: 2em;
}

/* .portfolio {
  display: grid;
  grid-gap: 2em;
} */

.portfolio-item {
  /* background: var(--clr-accent2); */
  /* color: var(--clr-dark);
  box-shadow: var(--bs); */
  display: grid;
  grid-template-columns: 55% 45%;
  grid-gap: 2em;
  margin: 1em 0;
}

.portfolio-item-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-item-header img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-top: 10%;
  color: var(--clr-dark);
  box-shadow: var(--bs);
}

.portfolio-item-body {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 250px;
}

.portfolio-item-name {
  text-align: left;
  font-size: 25px;
  font-weight: var(--fw-bold);
  margin-top: 0.5em;
}

.portfolio-item-description,
.portfolio-item-technologies {
  margin-top: 0.5em;
  text-align: left;
  font-size: 20px;
}

.portfolio-item-description-inviteCode {
  margin-top: 0.5em;
}

.about-me__body {
  float: left;
}

.tag {
  /* align-self: flex-start; */
  float: left;
  border-radius: 10px;
  font-size: 12pt;
  padding: 0 5px;
  color: var(--clr-light);
}

.portfolio_btns {
  display: flex;
  margin-top: 1em;
  justify-content: flex-start;
}

.technology {
  margin-top: 1em;
}

/*Footer*/
.footer {
  background: #00204a;
  color: var(--clr-light);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer .demo_btn {
  margin: 1em 0;
  width: 250px;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
  color: #ffffff;
}
